name: Build and Deploy Pages

on:
  push:
    branches: [ master ]

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: slang
        run: |
          wget -q -O slang-linux.tar.gz https://github.com/shader-slang/slang/releases/latest/download/slang-*-linux-x86_64.tar.gz
          tar -xzf slang-linux.tar.gz
          export PATH="$PWD/slang-*/bin:$PATH"
      - name: Install CMake 4
        uses: jwlawson/actions-setup-cmake@v2
        with:
          cmake-version: '4.0.0'


      - uses: mymindstorm/setup-emsdk@v14
        with:
          version: latest

      - name: Build WASM
        run: |
          emcmake cmake -S . -G Ninja --preset rel
          cmake --build --preset build_rel --parallel

      - name: Build frontend
        run: |
          npm install
          VITE_BASE_PATH=/sim/ npm run build
          mv ./dist/main.html ./dist/index.html
          

      - uses: actions/upload-pages-artifact@v3
        with:
          path: dist

  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Deploy
        uses: actions/deploy-pages@v4
        with:
          folder: ./dist
